.mega-menu {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Set the maximum height for the mega menu */
  }
  
  /* Optional styling for subcategories */
  .mega-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .mega-menu li {
    margin-bottom: 10px;
  }
  .navbar-brand img {
    max-height: 70px;
  }
  .navbar-nav .nav-item {
    margin-right: 20px; /* Adjust spacing between navigation items */
  }
  .navbar-info-group {
    font-size: 14px;
    color: #777;
  }
  .navbar-info-group i {
    margin-right: 5px;
  }
  